* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tac One", sans-serif;
}

body {
    background: linear-gradient(to bottom right, #008DDA, #D875C7, #11009E, #00224D, #5D0E41, #A0153E, #FF204E);
    color: #444444;
}

.navbar {
    background-color: #F3CCF3;
    padding: 15px 30px;
    /* Sağ ve sol boşluk arttırıldı */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 80px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin-right: -10px;
    /* Butonlar arasındaki boşlukları arttırmak için */
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar-btn {
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(87deg, #ff6b6b, #c455c1, #5a51b7);
    background-size: 300% 300%;
    transition: background-position 0.3s, transform 0.3s;
    font-weight: 500;
}

.navbar-btn:hover {
    background-position: 100% 0;
    transform: scale(1.05);
}

.navbar-btn:active {
    transform: scale(0.95);
}

.icons {
    display: flex;
    margin-left: 20px;
    /* İkonları sağa doğru kaydır */
}

.icons i {
    margin-left: 20px;
    font-size: 18px;
}

/* ! Sayfa Tasarımı */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
}

ul {
    margin: 0;
}

/* Ana içerik stil */
.container {
    margin-top: 5rem;
}

/* Kart stilleri */
.card {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.849);
    max-width: 700px;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 20px;
    /* Kartlar arasındaki boşluğu ayarlayın */
    margin-top: 20px;
    /* İlk kartın üstündeki boşluğu ayarlayın */
}

.card-title {
    color: #ffffff;
}

.card-text {
    color: #cccccc;
}

.btn {
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: 1s;
    background: linear-gradient(270deg, #f700ff 0%, #6200ff 100%);
}

.btn:hover {
    opacity: 0.7;
}

.card img {
    width: 100%;
    height: auto;
}

.date-posted {
    font-size: 20px;
    /* Tarih metninin boyutunu ayarlayın */
    color: #FFF7F1;
    /* Gri renk kullanarak tarih metnini belirsizleştirmeyin */
    margin-top: 5px;
    /* Tarih ile kart arasındaki boşluğu ayarlayın */
}

/* !Footer */
.footer {
    background-color: #383838;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

.footer p {
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
}

.up,
.down {
    display: flex;
    gap: 1em;
}

.card1,
.card2,
.card3,
.card4 {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.3s ease;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
    transform: scale(1.1);
}

.card1 svg,
.card2 svg,
.card3 svg,
.card4 svg {
    fill: #ffffff;
}

.card1:hover,
.card1:focus,
.card2:hover,
.card2:focus,
.card3:hover,
.card3:focus,
.card4:hover,
.card4:focus {
    background-color: rgba(204, 57, 164, 0.2);
}