<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Django Blog</title>
    {% endif %}
  </head>
  <body>
    <h1>Blog Anasayfa</h1>
    <hr />
    {% for posts in posts %}
      <h3>{{ posts.title }}</h3>
      <p>By: {{ posts.author }} on {{ posts.date_posted }}</p>
      <p>{{ posts.content }}</p>
    {% endfor %}
  </body>
</html>
